<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Connects to the Google Fonts API to import a font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" th:href="@{/resources/styles/styles.css}">

        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{resources/scripts/customize.js}" async defer></script>

        <!-- Sprites taken from: 
        https://opengameart.org/content/sorlo-ultimate-smash-friends: Wizard
        https://opengameart.org/content/animated-warrior: Knight(s)
        https://opengameart.org/content/lpc-wolf-animation: Wolf
        -->
    </head>
    <body>
        <div class="container">
            <!-- Beginning of Table HTML -->
            <div class="table-container">
                <!-- Table containing party models and info -->
                <table class="party-table">
                    <tr>
                        <th class="character-name" >Party</th>
                        <th>Stats</th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Character's model -->
                            <p class="character-name" id="avatar-sheet" th:text="${characterOne.alteredName}"> </p>
                            <img th:src="@{'resources/images/animations/' + ${characterOne.model} + '.gif'}" class="portrait" alt="Avatar">

                        </td>

                        <!-- Character's stats -->
                        <td class="stats">
                            <span>LVL: </span><span th:text="${characterOne.level}"></span><br>
                            <span class="hp">HP: </span><span class="hp" th:text="${characterOne.health}"><br></span>
                            <span class="mp">MP: </span><span class="mp" th:text="${characterOne.mana}"><br></span>
                            <span class="xp">XP: </span><span class="xp" th:text="${characterOne.xp}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p  class="character-name" id="friend-sheet" th:text="${characterTwo.alteredName}"> </p>
                            <img th:src="@{'resources/images/animations/' + ${characterTwo.model} + '.gif'}" class="portrait" alt="Companion">
                        </td>
                        <td class="stats">
                            <span>LVL: </span><span th:text="${characterTwo.level}"></span><br>
                            <span class="hp">HP: </span><span class="hp" th:text="${characterTwo.health}"><br></span>
                            <span class="mp">MP: </span><span class="mp" th:text="${characterTwo.mana}"><br></span>
                            <span class="xp">XP: </span><span class="xp" th:text="${characterTwo.xp}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p  class="character-name" id="wizard-sheet" th:text="${characterThree.alteredName}"> </p>
                            <img th:src="@{resources/images/animations/modelWizard.gif}" class="portrait" alt="Wizard">
                        </td>
                        <td class="stats">
                            <span>LVL: </span><span th:text="${characterThree.level}"></span><br>
                            <span class="hp">HP: </span><span class="hp" th:text="${characterThree.health}"><br></span>
                            <span class="mp">MP: </span><span class="mp" th:text="${characterThree.mana}"><br></span>
                            <span class="xp">XP: </span><span class="xp" th:text="${characterThree.xp}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p  class="character-name" id="dog-sheet" th:text="${characterFour.alteredName}"> </p>
                            <img th:src="@{resources/images/animations/modelHound.gif}" class="portrait" alt="Dog">
                        </td>
                        <td class="stats">
                            <span>LVL: </span><span th:text="${characterFour.level}"></span><br>
                            <span class="hp">HP: </span><span class="hp" th:text="${characterFour.health}"><br></span>
                            <span class="mp">MP: </span><span class="mp" th:text="${characterFour.mana}"><br></span>
                            <span class="xp">XP: </span><span class="xp" th:text="${characterFour.xp}"></span>
                        </td>
                    </tr>
                </table>
                <a th:href="@{/inventory}">Open Inventory</a>
            </div>
            <!-- End of Table HTML -->
            <!-- Beginning of Form HTML -->
            <div class="form-holder">
                <form class="form-style" th:action="@{/customize_characters}" method="post"
                      th:object="${dto}" style="padding-top: 20px;">
                    <!-- Div containing character rename inputs -->
                    <div class="center">
                        <label for="avatar-name">Name your character: </label>
                        <input type="text" name="avatar-name" id="avatar-name" th:field="*{heroAN}" th:placeholder="${characterOne.alteredName}">
                    </div>
                    <div class="center">
                        <label for="friend-name">Name your best friend: </label>
                        <input type="text" name="friend-name" id="friend-name" th:field="*{compAN}" th:placeholder="${characterTwo.alteredName}">
                    </div>
                    <div class="center">
                        <label for="dog-name">Name your loyal hound: </label>
                        <input type="text" name="dog-name" id="dog-name" th:field="*{dogAN}" th:placeholder="${characterFour.alteredName}">
                    </div>

                    <!-- Div containing inputs for changing character models -->
                    <div class="center">
                        <p>Choose player model:</p>
                        <input type="radio" id="maleA" name="avatar_model" th:field="*{heroModel}" th:value="maleKnight">
                        <label for="maleA">One</label>
                        <input type="radio" id="femaleA" name="avatar_model" th:field="*{heroModel}" th:value="femaleKnight">
                        <label for="femaleA">Two</label>
                        <input type="radio" id="wizardA" name="avatar_model" th:field="*{heroModel}" th:value="modelWizard">
                        <label for="wizardA">Three</label>
                        <input type="radio" id="dogA" name="avatar_model" th:field="*{heroModel}" th:value="modelHound">
                        <label for="dogA">Four</label>
                    </div>
                    <div class="center form-div">
                        <p>Choose best friend's model:</p>
                        <input type="radio" id="maleB" name="friend_model" th:field="*{compModel}" th:value="maleKnight">
                        <label for="maleB">One</label>
                        <input type="radio" id="femaleB" name="friend_model" th:field="*{compModel}" th:value="femaleKnight">
                        <label for="femaleB">Two</label>
                        <input type="radio" id="wizardB" name="friend_model" th:field="*{compModel}" th:value="modelWizard">
                        <label for="wizardB">Three</label>
                        <input type="radio" id="dogB" name="friend_model" th:field="*{compModel}" th:value="modelHound">
                        <label for="dogB">Four</label>
                    </div>
                    <!-- Div containing button for calling customizeParty() function, eventhandler added in customize.js-->
                    <div class="form-div">
                        <button type="submit" class="submit-button" id="customize">Rewrite History!</button>
                    </div>
                    
                </form>
            </div>
            <div>
                <div class="info-container">
                    <!-- Div providing links to where Sprites were sourced from to give credit -->
                    <div class="header-cont">
                        <p>Sprites sourced from: <br>
                            <a href="https://opengameart.org/content/sorlo-ultimate-smash-friends">Wizard</a>
                            <a href="https://opengameart.org/content/animated-warrior">Knight</a>
                            <a href="https://opengameart.org/content/lpc-wolf-animation">Wolf</a></p>
                    </div>
                    <div class="quest-dialogue">
                        <h2>Shop</h2>
                        <!-- Table that gets generated via createShop function -->
                        <table>
                            <tr>
                                <th>Price</th>
                                <th>Item</th>
                            </tr>
                            <tr th:each = "item: ${shop}">
                                <td class="shop-price" th:text = "${item.price} + 'g'"></td>
                                <td class="shop-item" th:text = "${item.name}"></td>
                                <td><button type="button" class="submit-button buy-button" value="0">Buy</button></td>
                            </tr>

                        </table>
                        <!-- Button that forces table to regenerate values -->
                        <div class="center padding">
                            <button type="button" class="submit-button center" onclick=createShop()>Refresh Store</button>
                        </div>

                        <div class="nav-bar">
                            <div><a th:href="@{/map}" class="nav-link">View Map</a></div>
                            <div><a th:href="@{/contact}" class="nav-link">Contact Form</a></div>
                            <div><a th:href="@{/logout}" class="nav-link">Logout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>