<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles/styles.css}">
</head>
<body>
<div class="inv-container">
    <div class="inv-center">
        <div class="inv-header">
            <h1 th:text="${characterOne.alteredName} + '\'s Inventory'"></h1>
            <p th:text="'Your Total Gold: ' + ${characterOne.gold} + 'g'"></p>
        </div>
    </div>

    <div class="inv-center">
        <div>
            <table class="inv-display">
                <tbody class="inv-body">
                    <tr class="underline-row">
                        <th class="item-head">Item</th>
                        <th class="item-head">Attack</th>
                        <th class="item-head">Defense</th>
                        <th class="item-head">Value</th>
                        <th class="item-head">Description</th>
                    </tr>
                    <tr class="underline-row" th:each = "item: ${inventory}">
                        <td class="item item-name" th:text = "${item.name}"></td>
                        <td class="item" th:text = "${item.attack}"></td>
                        <td class="item" th:text = "${item.defense}"></td>
                        <td class="item" th:text = "${item.price} + 'g'"></td>
                        <td class="item" th:text = "${item.desc}"></td>
                        <td><form action="#" th:action="@{'/inventory/delete/{id}'(id=${item.item_id})}" th:method="delete" >
                            <button type="submit" class="submit-button buy-button">
                                Sell
                            </button>
                        </form></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="inventory-nav nav-bar">
        <div><a th:href="@{/map}" class="nav-link">View Map</a></div>
        <div><a th:href="@{/camp}" class="nav-link">Return to Camp</a></div>
        <div><a th:href="@{/contact}" class="nav-link">Contact Form</a></div>
        <div><a th:href="@{/logout}" class="nav-link">Logout</a></div>
    </div>
</div>
</body>
</html>