<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up - Champion's Quest</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Connects to the Google Fonts API to import a font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/resources/scripts/loginchecker.js}"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/resources/styles/styles.css}">
    </head>
    <body>
        <!-- Holds the form and torches -->
        <div class="form-container">
            <div>
                <img th:src="@{/resources/images/Torch_Gif.gif}" alt="Flickering Torch">
            </div>
            <!-- Holds specifically the form -->
            <div class="form-holder">
                <!-- Styles the form -->
                <form th:action="@{/process_signup}" method="post" class="form-style" id="login-form" th:object="${user}">
                    <div>
                        <h2>Register Here!</h2>
                        <p class="failed-ver"></p>
                    </div>
                    <div class="form-div">
                        <!-- Input accepts user email to parse for ReGex -->
                        <label for="email">Email: </label><br>
                        <input type="email" id="email" name="email" placeholder="name@host.com"
                               style="height: 20px; border: 2px solid black;" th:field="*{email}" required>
                        <br>
                    </div>
                    <div class="form-div">
                        <!-- Input accepts user email to parse for ReGex -->
                        <label for="first-name">First Name: </label><br>
                        <input type="text" id="first-name" name="first-name" placeholder="Arnold"
                               style="height: 20px; border: 2px solid black;" th:field="*{firstName}">
                        <br>
                    </div>
                    <div class="form-div">
                        <!-- Input accepts user email to parse for ReGex -->
                        <label for="last-name">Last Name: </label><br>
                        <input type="text" id="last-name" name="last-name" placeholder="ImNotSpellingThatName"
                               style="height: 20px; border: 2px solid black;" th:field="*{lastName}">
                        <br>
                    </div>
                    <div class="form-div">
                        <!-- Input accepts user email to parse for ReGex -->
                        <label for="ign">Username: </label><br>
                        <input type="text" id="ign" name="ign" placeholder="Terminator"
                               style="height: 20px; border: 2px solid black;" th:field="*{inGameName}">
                    </div>
                    <div class="form-div">
                        <!-- Input accepts user password -->
                        <label for="password">Password: </label><br>
                        <input type="password" id="password" name="password" style="height: 20px; border: 2px solid black;" th:field="*{password}" required>
                        <br>
                    </div>
                    <div class="form-div">
                        <!-- Button calls verifyEmail to compare the inputted email and password -->
                        <button type="submit" class="submit-button">Take Up Arms <img class="submit-icon" th:src="@{resources/images/sword icon.png}" alt="Sword Picture"></button>
                    </div>
                </form>
            </div>
            <div>
                <img th:src="@{/resources/images/Torch_Gif.gif}" alt="Flickering Torch">
            </div>
        </div>

        <script th:src="@{/resources/scripts/scripts.js}" async defer></script>
    </body>
</html>